PersonTracking/Debug
PersonTracking/PersonTracking.v12.suo
PersonTracking/PersonTracking.sdf
PersonTracking/PersonTracking.opensdf
PersonTracking/PersonTracking.sln
PersonTracking/PersonTracking.vcxproj
PersonTracking/PersonTracking.vcxproj.filters
PersonTracking/PersonTracking.vcxproj.user
person_tracking_modeling_project